body {
    margin: 0;
    background-color: #f7f7f7;
}

.top-bar {
    background-color: #323643;
    height: 3rem;
    width: 100%;
}

.fa-laptop-code {
    font-size: 2.2rem;
    position: absolute;
    left: 1.5rem;
    padding: 0.4rem 0;
    color: #93deff;
}

#add-button {
    position: absolute;
    right: 25%;
    /* height: 15px; */
    margin: auto 0;
    color: #000;
    background: #93deff;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #323643;
}

#add-button:hover {
    color: #93deff;
    background: #606470;
    border: 1px solid #93deff;
}

.create-box {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
    width: 20%;
    background-color: #323643;
    display: none;
    border-radius: 10px;
    border: 5px solid #93deff;
}

.rename-box {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
    width: 20%;
    background-color: #323643;
    display: none;
    border-radius: 10px;
    border: 5px solid #93deff;
}

.fa-window-close {
    font-size: 30px;
    color: #f7f7f7;
    position: absolute;
    right: 7%;
    top: 10%;
    cursor: pointer;
}

.cb-heading {
    position: absolute;
    color: #f7f7f7;
    width: 65%;
    top: 10%;
    font-size: 120%;
    height: 15%;
    margin-left: 10%;
}

.lang-box {
    position: absolute;
    width: 80%;
    height: 15%;
    top: 30%;
    margin-left: 10%;
}

.lang-box select {
    background-color: #aee7e8;
    color: #000;
    width: 100%;
    height: 100%;
    border: none;
    -webkit-appearance: button;
    outline: none;
}

.lang-box::before {
    content: " \f0ab";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    text-align: center;
    line-height: 32.5px;
    color: #000;
    font-size: 20px;
    background: #28c3d4;
    pointer-events: none;
}

.lang-box-1 {
    position: absolute;
    width: 10%;
    top: 4rem;
    left: 80%;
}

.lang-box-1 select {
    background-color: #93deff;
    color: #000;
    width: 100%;
    height: 100%;
    border: none;
    -webkit-appearance: button;
    outline: none;
}

.lang-box-1::before {
    content: " \f0ab";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    text-align: center;
    line-height: 32.5px;
    color: #aee7e8;
    font-size: 20px;
    background: #323643;
    pointer-events: none;
}

.cname {
    /* position: absolute;
width: 80%;
top: 52%;
height: 10%;
margin-left: 10%; 
width: 80%;*/
    width: 80%;
    height: 100%;
    border: 0;
    color: #000;
    font-size: 15px;
    background-color: #aee7e8;
}

.cname-div {
    position: absolute;
    width: 80%;
    top: 52%;
    height: 15%;
    margin-left: 10%;
}
/* .cname-div::before { */

.xyz {
    content: " \f06a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    text-align: center;
    line-height: 32.5px;
    color: red;
    font-size: 20px;
    background: #28c3d4;
    pointer-events: none;
}

.cb-button {
    position: absolute;
    color: white;
    background-color: #323643;
    width: 50%;
    top: 75%;
    font-size: 120%;
    height: 15%;
    margin-left: 25%;
    padding: 0 12px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #93deff;
}

.cb-button:hover {
    color: #323643;
    background-color: #93deff;
}

.rname {
    position: absolute;
    width: 80%;
    top: 40%;
    height: 15%;
    margin-left: 10%;
    border: 0;
    color: #000;
    font-size: 15px;
    background-color: #aee7e8;
}

.r-button {
    position: absolute;
    color: white;
    background-color: #323643;
    width: 50%;
    top: 70%;
    font-size: 120%;
    height: 15%;
    margin-left: 25%;
    padding: 0 12px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #93deff;
}

.r-button:hover {
    color: #323643;
    background-color: #93deff;
}

.codes {
    width: 90%;
    position: absolute;
    left: 5%;
    background-color: #f7f7f7;
    top: 8rem;
    height: 100%;
    float: down;
}

.code-sample {
    /* width:80%; */
    /* position: absolute; */
    left: 5%;
    background-color: #f7f7f7;
    top: 0.5rem;
    height: 5%;
}

.code-sample:hover {
    /* width:80%; */
    /* position: absolute; */
    background-color: #C0C0C0;
    color: #f7f7f7;
}

.code-sample:focus {
    /* width:80%; */
    /* position: absolute; */
    background-color: grey;
    color: #f7f7f7;
}
/* .star {
    position: absolute;
}

.fa-star {
    font-size: 25px;
} */

.star {
    position: absolute;
    visibility: hidden;
    font-size: 30px;
    cursor: pointer;
}

.star:before {
    content: "\2605";
    position: absolute;
    visibility: visible;
}

.star:checked:before {
    content: "\2606";
    position: absolute;
}
/* .star-yellow {
    color: yellow;
}

.star-grey {
    color: grey;
} */

.code-name {
    position: absolute;
    left: 10%;
    padding-top: 10px;
    height: 100%;
    width: 30%;
    color: #000;
    font-weight: bolder;
    text-decoration: none;
}

.code-name-link {
    position: absolute;
    left: 1%;
    height: 100%;
    width: 30%;
    color: #000;
    font-weight: bolder;
    text-decoration: none;
}

.code-lang {
    position: absolute;
    left: 50%;
    padding-top: 10px;
    height: 100%;
    width: 10%;
    color: #000;
    font-weight: bolder;
}

.code-time {
    position: absolute;
    left: 70%;
    padding-top: 10px;
    height: 100%;
    width: 15%;
    color: #63707e;
}

.code-options {
    position: absolute;
    right: 3%;
    background-color: #f7f7f7;
    color: #000;
}

.user-options {
    position: absolute;
    right: 8%;
    height: 3rem;
    width: 10%;
}

.user-button {
    position: absolute;
    margin: auto 0;
    /* padding: 5px 7px; */
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    color: #93deff;
    background: #606470;
    border: 1px solid #93deff;
}

.user-button:hover {
    border: 1px solid #323643;
    color: #000;
    background: #93deff;
}

.star-toggle {
    width: 10%;
    position: absolute;
    top: 4rem;
    left: 5%;
    transform: translateX(-50%);
    margin: 0;
}

.search-container {
    width: 50%;
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.fas.fa-search {
    left: 2%;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(50%);
}

#search-bar {
    width: 100%;
    position: absolute;
    text-align: center;
    border: 0;
}

@media only screen and (max-width:450px) {
    /* For mobile */
    .top-bar {
        width: 100%;
    }
    #add-button {
        position: absolute;
        right: 40%;
        left: 40%;
    }
    .user-options {
        position: absolute;
        right: 18%;
    }
    .dropdown-menu {
        min-width: 100px;
    }
    .dropdown-menu.show {
        display: block;
        transform: translate3d(-75px, 38px, 0px);
    }
    .rename-box {
        width: 50%;
    }
    .create-box {
        width: 50%;
    }
}