* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: montserrat;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-image:linear-gradient(120deg,#005AA7,#a8ff78,#FFFDE4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login
{
	width: 360px;
	background: white;
	height: 580px;
	padding:  80px 30px; 
  border-top-right-radius: 20px;
  border-bottom-right-radius:20px; 
  overflow: hidden;
	position: absolute;
	left: 63%; 
	top:50%;
	transform: translate(-50%,-50%);
}
.login h1{
  color: #005AA7;
	text-align: center;
	margin-bottom: 60px;
  font-family: "Monstserrat",cursive;
}
.txtb{
	border-bottom: 2px solid #adadad;
	position: relative;
	margin: 30px 0;


}

.txtb input{
	font-size: 15px;
	color: #333;
	border:none;
	width: 100%;
	outline: none;
	background: none;
	padding: 0 5px;
	height: 40px;
   font-family: "Monstserrat",cursive;
}
 .txtb span::before{
  content: attr(dataplaceholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}


 .txtb span::after {
 	content: '';
 	position: absolute;
 	width: 0%;
 	height: 2px;
 	background: linear-gradient(120deg,#a8ff78,#78ffd6);
 	transition:.5s; 
 }
.focus +span::before
{
	top:-5px;

}
.focus +span::after
{
width:100%;

}
.logbtn{
	display: block;
	width:100%;
	height: 50px;
	border:none;
	background: linear-gradient(120deg,#005AA7,#a8ff78,#FFFDE4);
	background-size: 200%;
	color: black;
	outline: none;
	cursor: pointer;
	transition: .5s;
  border-radius: 10px;
  font-size: 15px;
   font-family: "Monstserrat",cursive;
}
.logbtn:hover{
	background-position: right;
}
.bottom{
	margin-top: 20px;
	text-align: center;
	font-size:13px; 
   font-family: "Monstserrat",cursive;
}
.image{

height:4%;
width: 4%;
right: 10%;

}
.keeplogin{
  font-size: 12px;
  margin-bottom: 3em;
  color: #adadad;
   font-family: "Monstserrat",cursive;
}

.animated-text{

  
  position: absolute;
  top:7%;
  right: -12%;
  transform: translate(-50%,-50%);
  
  padding: 0 10px;
    height: 60px;
  overflow: hidden;
  outline:none;
}

.line{
  color: red;
font-family: "Monstserrat",cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  line-height: 60px;
}

.line:first-child{
  animation: anim 12s infinite;
}

@keyframes anim {
  0%{
    margin-top: 0;
  }
  16%{
    margin-top: -60px;
  }
  33%{
    margin-top: -120px;
  }
  50%{
    margin-top: -180px;
  }
  66%{
    margin-top: 120px;
  }
  82%{
    margin-top: 60px;
  }
  100%{
    margin-top: 0;
  }
}

.middle{
  position: absolute;
  top: 93%;
  right: 5px;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.btn{
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #f1f1f1;
  margin: 5px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 35px;
  font-size: 14px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: #a8ff78;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: black;
  transform: rotate(-45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}

h5{
  margin-top: 20px;
  text-align: center;
}

.slidershow{
  width:450px;
  height: 580px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius:20px; 
  background:linear-gradient(120deg,#0f0c29,#302b63,#24243e);;
}
 
.middle1{
  position: absolute;
  top:50%;
  right: 34%;
  transform: translate(-50%,-50%);
}

.navigation{
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 10px;
  height: 10px;
  border-radius:30px;
  border:2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
}

input[name="r"]{
  position: absolute;
  visibility: hidden;

}
.slides{
  width: 500%;
  height: 100%;
  display: flex;
}
.slide{
  width: 20%;
  transition: 0.6s;
}

#r1:checked ~ .s1{
  margin-left: 0;

}

#r2:checked ~ .s1{
  margin-left: -20%;
  
}
#r3:checked ~ .s1{
  margin-left: -40%;
  
}
#r4:checked ~ .s1{
  margin-left: -60%;
  
}

#r5:checked ~ .s1{
  margin-left: -80%;
  
}

.s1{
  animation: sliderim 25s infinite;
}
@keyframes sliderim{
  0%{
    margin-left: 0;
  }12.5%{
    margin-left: -20%;
  }25%{
    margin-left: -40%;
  }37.5%{
    margin-left: -60%;
  }50%{
    margin-left: -80%;
  }62.5%{
    margin-left: -60%;
  }75%{
    margin-left: -40%;
  }87.5%{
    margin-left: -20%;
  }100%{
    margin-left: 0;
  }
}
.slides img
{
  height:50%;
  width: 100%;
  padding: 30px;
  margin-top:20%;
  border-radius: 45px;

}
h4{
  text-align: center;
  color: white;
  font-family: "Monstserrat",cursive;
  right: 60px;
}
#loginslider{
  transition: transform 0.5s, visibility 0.5s;
}
#signupslider{
  transition: transform  0.5s,visibility 0.3s;
  visibility: hidden;
}
#slider{
  overflow: hidden;
}


