* {
    margin: 0;
    padding: 0;
}

.menu-bar {
    top: 0;
    height: 8%;
    position: absolute;
    background-color: #323643;
    width: 100%;
}

.fas.fa-laptop-code {
    font-size: 2.4em;
    cursor: pointer;
    left: 4%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 0.25%;
    /*background-color: #2f3640;*/
    color: #93deff;
    border-radius: 0.25em;
}

.fas.fa-laptop-code:hover {
    background-color: #2f3640;
    color: #3498db;
}

.code-info {
    position: absolute;
    left: 10%;
    background-color: #6c5ce7;
    font-family: Arial;
    height: 100%;
    color: white;
    top: 0;
    display: flex;
    max-width: 10%;
    overflow: hidden;
}

#lang-img {
    top: 50%;
    height: 50%;
    border-radius: 50%;
    margin: auto 0.3em;
}

.code-info>span {
    top: 50%;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-overflow: ellipsis;
    white-space: nowrap;;
    overflow: hidden;
    display: inline-block;
    font-size: 0.9em;
}

.fas.fa-pen {
    cursor: pointer;
    top: 50%;
    margin: auto 0.3em;
}

#lang>span {
    top: 50%;
    position: absolute;
    padding-left: 2%;
    transform: translateY(-50%);
}

.new-code {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    background-color: #2f3640;
}

.algo-search {
    right: 15%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2.5em;
    /*background-color: #2f3640;*/
    background-color: aliceblue;
    border-radius: 40px;
}

.algo-search:hover>#search-text {
    width: 16em;
}

.algo-search:hover>.fas.fa-search {
    /*background:#1abc9c;*/
    background: #6c5ce7;
    color: white;
}

.fas.fa-search {
    float: right;
    /*color:#e74c3c;*/
    color: #000;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /*background-color: #2f3640;*/
    background-color: #93deff;
}

#search-text {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #000;
    font-size: 0.9em;
    float: left;
    transition: 0.3s;
    line-height: 40px;
    width: 0;
    text-align: center;
}

#save-program {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    border: none;
    color: white;
    background-color: #2f3640;
    padding-left: 25%;
}

.fas.fa-backspace {
    position: absolute;
    color: white;
    right: 3%;
    top: 3%;
    transform: translateY(-50%);
    cursor: pointer;
}

#output-screen {
    position: absolute;
    top: 6%;
    height: 90%;
    width: 100%;
    padding-left: 2%;
    background-color: #0a001f;
    color: white;
    border: none;
    outline: none;
    resize: none;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}

#resize {
    position: absolute;
    top: 10%;
    height: 90%;
    left: 70%;
    width: 0.2%;
    cursor: ew-resize;
}

#file-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    left: 2%;
    margin-left: 2%;
    position: absolute;
    padding: 0.3%;
    padding-left: 0.6%;
    padding-right: 0.6%;
    transform: translateY(40%);
    /*background-color:#95a5a6;*/
    background-color: #323643;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

.fas.fa-save,
.fas.fa-history {
    padding-top: 0.5em;
    padding-right: 0.5em;
}

.fas.fa-history {
    display: none;
}

#file-status {
    padding-top: 0.3em;
}

.status-bar {
    position: absolute;
    top: 0%;
    height: 5%;
    left: 0%;
    width: 65%;
    /*background-color: #2f3640;*/
    background-color: #bdc3c7;
    color: aliceblue;
}

.file-status-container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 0;
    display: flex;
    height: 100%;
    transform: translateX(-50%);
    color: #273c75;
}

.side-panel {
    position: absolute;
    top: 8%;
    left: 0;
    width: 10%;
    height: 92%;
    background-color: #f7f7f7;
    z-index: 1;
}

.side-options {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    background-color: #bdc3c7;
}

.fas.fa-file-code,
.fas.fa-cogs {
    position: absolute;
    padding: 10%;
    font-size: 1.5em;
    left: 15%;
    top: 2%;
    cursor: pointer;
    border-radius: 5px;
    color: #273c75;
}

.fas.fa-cogs {
    top: 10%;
    font-size: 1.1em;
}

.fas.fa-file-code:hover,
.fas.fa-cogs:hover {
    background-color: #7f8c8d;
}

#panel-mode {
    top: 0;
    height: 5.555%;
    width: 68%;
    position: absolute;
    left: 31%;
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    background-color: #2f3640;
    display: flex;
}

#panel-mode>span {
    top: 50%;
    margin: auto;
}

#settings-options {
    display: none;
}

#theme,
#layout {
    top: 12%;
    height: 4%;
    left: 32.77%;
    width: 45%;
    position: absolute;
    cursor: pointer;
}

#layout {
    top: 19%;
}

.toggle-btn {
    background-color: gray;
    width: 100%;
    position: absolute;
    height: 100%;
    border-radius: 30px;
    padding: 3%;
}

.toggle-btn>.circle {
    background-color: white;
    height: 87%;
    left: 8%;
    position: absolute;
    width: 40%;
    border-radius: 50%;
    transition: transform 0.5s;
}

#parent {
    top: 8%;
    position: absolute;
    left: 10%;
    height: 92%;
    width: 90%;
    max-width: 90%;
    z-index: 1;
}

.CodeMirror {
    top: 5%;
    height: 95%;
    left: 0;
    width: 65%;
    position: absolute;
    /*resize: horizontal;*/
    display: inline-block;
    font-size: 1em;
    font-family: 'Stylish', sans-serif;
    /*overflow-wrap: break-word;*/
}
.CodeMirror-wrap pre {
    word-break: break-word;
}

#output {
    position: relative;
    top: 0%;
    height: 100%;
    background-color: #0a001f;
    left: 65.2%;
    width: 34.8%;
    bottom: 0;
    z-index:1;
}

#execute,
#stop {
    position: absolute;
    margin: 0;
    transform: translateY(-50%);
    left: 50%;
    top: 50%;
    display: flex;
    cursor: pointer;
    /*background-color:#2f3640 ;*/
    background-color: #93deff;
    border-radius: 10px;
    padding: 0.75em;
    /*color:white;*/
    color: #000;
    /*font-size: 0.85em;*/
    font-size: 0.8em;
    border: none;
    outline: none;
    z-index: 1;
}

#execute>.fas.fa-play,
#stop>.fas.fa-stop {
    font-size: 1.2em;
    padding-right: 0.3em;
    vertical-align: middle;
}

#execute:hover {
    color: white;
    background-color: #1abc9c;
    border: #f2f0f5 1px solid;
}

#execute:hover>.fas.fa-play {
    color: white;
}

#stop {
    left: 60%;
    display: none;
}

.fas.fa-play,
.fas.fa-stop {
    z-index: 1;
    /*color: #e74c3c;*/
    color: #000;
}

.user-options {
    position: absolute;
    right: 1%;
    height: 3rem;
    width: 10%;
    top: 0.5rem;
}

.user-button {
    position: absolute;
    margin: auto 0;
    /* padding: 5px 7px; */
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    color: #93deff;
    background: #606470;
    border: 1px solid #93deff;
}

.user-button:hover {
    border: 1px solid #323643;
    color: #000;
    background: #93deff;
}

.dropdown-menu {
    min-width: 5rem;
    max-width: 7rem;
}

.rename-box {
    position: absolute;
    height: 15%;
    width: 15%;
    top: 8%;
    left: 11%;
    z-index: 10;
    background-color: white;
    border-radius: 0.4em;
    display: none;
}

.rename-box::after {
    position: absolute;
    left: 20%;
    width: 1em;
    height: 1em;
    top: -1em;
    content: '';
    margin-top: 0.5em;
    transform: rotate(45deg);
    background-color: white;
}

.rename-box>span {
    right: 0;
    position: absolute;
    font-size: 1.5em;
    padding-right: 0.5em;
    transform: rotate(45deg);
    cursor: pointer;
}

.rename-box>input {
    top: 0;
    margin-top: 15%;
    height: 25%;
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
}

.rename-box>button {
    margin-top: 12%;
    top: 40%;
    position: absolute;
    font-size: 0.8em;
    left: 50%;
    transform: translateX(-50%);
}

#download-btn {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    margin: auto;
    left: 35%;
    outline: none;
    transform: translateY(-50%);
    padding: 0.4em;
    padding-right: 0.65em;
    padding-left: 0.65em;
    background-color: #ff7f50;
    ;
    border: 0;
    z-index: 1;
}

.fas.fas.fa-file-download {
    color: white;
}

#download-btn:hover {
    background-color: #3498db;
    border: 1px solid white;
}
#exec-mode{
    position: absolute;
    margin: 0;
    transform: translateY(-50%);
    right: 20%;
    top: 50%;
    display: flex;
    cursor: pointer;
    /*background-color:#2f3640 ;*/
    background-color: #ED4C67;
    border-radius: 50%;
    padding: 0.75em;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    /*color:white;*/
    color: #000;
    /*font-size: 0.85em;*/
    font-size: 0.8em;
    border: none;
    outline: none;
    z-index: 1;
}
.fas.fa-terminal{
    color: white;
}
#exec-mode:hover{
    background-color: #3498db;
}
#screen-container{
    position: absolute;
    height: 90%;
    top:5%;
    width:90%;
    left:5%;
    display: flex;
    /* z-index: -1; */
}
#testcase-box{
    position: absolute;
    height:50%;
    width:20%;
    top:50%;
    left:50%;
    margin: auto;
    z-index: 10;
    display: none;
    border-radius: 0.45em;
    box-shadow: -0.0625em -0.125em 1.0625em -0.1875em #bdc3c7;

}
#testcase-box >p{
    font-size: 0.85em;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
#input-text{
    resize: none;
    width: 90%;
    position: absolute;
    left: 5%;
    top:12%;
    height: 70%;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
}