body{
	margin: 0;
}

.CodeMirror{
	top: 10%;
	height:90%;
	left:10%;
	width:60%;
	position: absolute;
	/*resize: horizontal;*/
	display: inline-block;
	font-size: 1.15em;
	overflow-y: scroll;
	/*overflow-wrap: break-word;*/
}
#theme{
	top:12%;
	height: 5%;
	left: 2.5%;
	width: 5%;
	position: absolute;
	cursor: pointer;
}
.toggle-btn{
	background-color: gray;
	width: 100%;
	position: absolute;
	height: 100%;
	border-radius: 30px;
	padding: 3%;
}
.toggle-btn > .circle{
	background-color: white;
	height:87%;
	left: 8%;
	position: absolute;
	width:40%;
	border-radius: 50%;
	transition: transform 0.5s;
}
.menu-bar{
	top:0;
	height: 10%;
	position: absolute;
	background-color: #e74c3c;
	width: 100%;
}
.fas.fa-laptop-code{
	font-size: 2.4em;
	cursor: pointer;
	left: 4%;
	top:50%;
	transform: translate(-50%,-50%);
	position: absolute;
	padding: 0.25%;
	/*background-color: #2f3640;*/
	border-radius: 0.25em;
}
.fas.fa-laptop-code:hover{
	background-color: #2f3640;
	color:#3498db;
}
/*.fas.fa-bars{
	font-size: 2em;
	cursor: pointer;
	left: 3%;
	top:50%;
	transform: translate(-50%,-50%);
	position: absolute;
}*/
.algo-search{
	right:15%;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	height: 70%;
	background-color: #2f3640;
	border-radius: 40px;
}
.algo-search:hover> #search-text{
	width:16em;
}
.algo-search:hover> .fas.fa-search{
	background:white;
}
.fas.fa-search{
	float:right;
	color:#e74c3c;
	width: 2.5em;
	height: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #2f3640;
}
#search-text{
	border: none;
	background: none;
	outline: none;
	padding: 0;
	color: white;
	font-size:14px;
	float: left;
	transition: 0.3s;
	line-height: 40px;
	width: 0;
	text-align: center;
}
.execute{
	position: absolute;
	margin: 0;
	padding: 0;
	height:50%;
	transform:translateY(50%);
	width:5%;
	left:50%;
	top:0;
	cursor: pointer;
}
.execute:hover >#run{
	color:white;
	background-color: #27ae60;
} 
.execute:hover > .fas.fa-play{
	color:white;
}
#run{
	float: right;
	display: flex;
	align-items: center;
    justify-content:center;
	outline: none;
	cursor: pointer;
	width: 100%;
	height: 100%;
	border-radius: 1em;
	border: none;
	color: white;
	background-color:#2f3640; 
}
.fas.fa-play{
	position: absolute;
	left: 10%;
	z-index: 1;
	top:20%;
	color: #e74c3c;
}
.save{
	position: absolute;
	margin: 0;
	padding: 0;
	height:50%;
	transform:translateY(50%);
	width:5%;
	left:40%;
	top:0;
	cursor: pointer;
}
.fas.fa-save{
    position: absolute;
	left: 7%;
	z-index: 1;
	top:20%;
	color: #e74c3c;
}
#save-program{
	float: right;
	display: flex;
	align-items: center;
    justify-content:center;
	outline: none;
	cursor: pointer;
	width: 100%;
	height: 100%;
	border-radius: 1em;
	border: none;
	color: white;
	background-color:#2f3640; 
	padding-left: 25%;
}

.user-profile{
	right: 0;
	top:50%;
	background-color: #2f3640;
	color: white;
	position: absolute;
	transform: translate(-50%,-50%); 
	height:50%;
	padding: 0.25%;
	width: 8%;
}
.fas.fa-caret-down{
	cursor: pointer;
	float: right;
}
.user-profile >p{
	transform: translateY(-50%);
}
.user-options{
	width: 8%;
	right:0;
	top:90%;
	transform: translate(-50%,-5%);
	padding: 0.25%;
	position: absolute;
	font-size: 0.9em;
	background-color: red;
	display: none;
}
li{
	list-style-type: none;
}
