*{
	margin: 0;
	padding: 0;
}
/*.CodeMirror{
	top: 15%;
	height:85%;
	left:10%;
	width:60%;
	position: absolute;
	/*resize: horizontal;*/
	/*display: inline-block;
	font-size: 1em;
	font-family: 'Stylish', sans-serif;

	/*overflow-wrap: break-word;*/
/*}*/

.menu-bar{
	top:0;
	height: 8%;
	position: absolute;
	/*background-color: #e74c3c;*/
	/*background-color: #e67e22;*/
	background-color: #3498db;
	/*background-color:#323643;*/
	width: 100%;
}
.fas.fa-laptop-code{
	font-size: 2.4em;
	cursor: pointer;
	left: 4%;
	top:50%;
	transform: translate(-50%,-50%);
	position: absolute;
	padding: 0.25%;
	/*background-color: #2f3640;*/
	border-radius: 0.25em;
}
.fas.fa-laptop-code:hover{
	background-color: #2f3640;
	color:#3498db;
}
/*.fas.fa-bars{
	font-size: 2em;
	cursor: pointer;
	left: 3%;
	top:50%;
	transform: translate(-50%,-50%);
	position: absolute;
}*/
.code-info{
	position: absolute;
	left:10%;
	background-color: #6c5ce7;
	font-family: Arial;
	height: 100%;
	color:white;
	top:0;
	display: flex;
	max-width:10%;
	overflow: hidden;
}
#lang-img{
  top:50%;
  height:50%;
  margin: auto;
  margin-left: 0.5em;
  border-radius: 50%;
}
.code-info >span{
	top:50%;
	margin: auto;
	margin-right: 0.5em;
	font-family: Arial, Helvetica, sans-serif;
	max-width: 8%;
}
.fas.fa-pen{
	cursor: pointer;
	top:50%;
	margin: auto;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
#lang>span{
	top:50%;
	position: absolute;
	padding-left: 2%;
	transform: translateY(-50%);
}
.new-code{
	position: absolute;
	top:50%;
	left:30%;
	transform: translateY(-50%);
	background-color: #2f3640;
}
.algo-search{
	right:15%;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	height: 2.7em;
	background-color: #2f3640;
	border-radius: 40px;
}
.algo-search:hover> #search-text{
	width:16em;
}
.algo-search:hover> .fas.fa-search{
	background:white;
}
.fas.fa-search{
	float:right;
	color:#e74c3c;
	width: 2.7em;
	height: 2.7em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #2f3640;
}
#search-text{
	border: none;
	background: none;
	outline: none;
	padding: 0;
	color: white;
	font-size:14px;
	float: left;
	transition: 0.3s;
	line-height: 40px;
	width: 0;
	text-align: center;
}
.fas.fa-play,.fas.fa-stop{
	z-index: 1;
	color: #e74c3c;
}

#save-program{
	float: right;
	display: flex;
	align-items: center;
    justify-content:center;
	outline: none;
	cursor: pointer;
	width: 100%;
	height: 100%;
	border-radius: 1em;
	border: none;
	color: white;
	background-color:#2f3640; 
	padding-left: 25%;
}
.fas.fa-backspace{
	position: absolute;
	color:white;
	right:3%;
	top: 3%;
	transform:translateY(-50%);
	cursor: pointer;
}
#output-screen{
	position: absolute;
	top:6%;
	height: 90%;
	width: 100%;
	padding-left: 2%;
	background-color: #0a001f;
	color: white;
	border: none;
	outline: none;
	resize: none;
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
}

#resize{
	position: absolute;
	top:10%;
	height: 90%;
	left: 70%;
	width: 0.2%;
	cursor: ew-resize;
}

#rename-box,#cancel{
	display: none;
	margin-top:5%;
}
#cancel{
	float: left;
	margin-left:30%;
	cursor: pointer;
}
.saving{
	display: flex;
}
#file-name{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	left:2%;
	margin-left: 2%;
	position: absolute;
	padding: 0.3%;
	padding-left:0.6%;
	padding-right:0.6%; 
	transform: translateY(40%);
	background-color:#95a5a6;
	border-top-left-radius: 20%;
	border-top-right-radius: 20%;
}
.fas.fa-save,.fas.fa-history{
	padding-top: 0.5em;
	padding-right: 0.5em;
}
.fas.fa-history{
	display: none;
}
#file-status{
	padding-top: 0.3em;
}
.status-bar{
	position: absolute;
	top:0%;
	height: 5%;
	left:0%;
	width:65%;
	background-color: #2f3640;
	color: aliceblue;
}
.file-status-container{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	position: absolute;
	left:50%;
	top:0;
	display: flex;
	height: 100%;
	transform: translateX(-50%);
}
.side-panel{
	position: absolute;
	top:8%;
	left: 0;
	width: 10%;
	height: 92%;
	background-color: #FFF9CC;
}
.side-options{
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width:30%;
	background-color:#bdc3c7; 
}
.fas.fa-file-code,.fas.fa-cogs{
	position: absolute;
	padding: 10%;
	font-size: 1.5em;
	left: 15%;
	top:2%;
	cursor: pointer;
	border-radius: 5px;
	color:#273c75;
}
.fas.fa-cogs{
	top:10%;
	font-size:1.2em;
}
.fas.fa-file-code:hover,.fas.fa-cogs:hover{
	background-color: #7f8c8d;
}
#panel-mode{
	top:0;
	height:5.555%;
	width:68%;
	position: absolute;
	left:31%;
	text-align: center;
	color: aliceblue;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	vertical-align: middle;
	margin: 0;
	background-color: #2f3640;
}
#settings-options{
	display: none;
}
#theme,#layout{
	top:12%;
	height: 4%;
	left: 32.77%;
	width: 45%;
	position: absolute;
	cursor: pointer;
}
#layout{
	top:19%;
}
.toggle-btn{
	background-color: gray;
	width: 100%;
	position: absolute;
	height: 100%;
	border-radius: 30px;
	padding: 3%;
}
.toggle-btn > .circle{
	background-color: white;
	height:87%;
	left: 8%;
	position: absolute;
	width:40%;
	border-radius: 50%;
	transition: transform 0.5s;
}
#parent{
	top:8%;
	position: absolute;
	left:10%;
	height: 92%;
	width:90%;
}

.CodeMirror{
	top: 5%;
	height:95%;
	left:0;
	width:65%;
	position: absolute;
	/*resize: horizontal;*/
	display: inline-block;
	font-size: 1em;
	font-family: 'Stylish', sans-serif;

	/*overflow-wrap: break-word;*/
}

#output{
	position: relative;
	top:0%;
	height: 100%;
	background-color: #0a001f;
	left:65.2%;
	width:34.8%;	
	bottom:0;
}
#execute,#stop{
	position: absolute;
	margin: 0;
	transform:translateY(-50%);
	left:50%;
	top:50%;
	display: flex;
	cursor: pointer;
	background-color:#2f3640 ;
	border-radius: 10px;
	padding: 0.75em;
	color:white;
	/*font-size: 0.85em;*/
	font-size: 0.8em;
	border:none;
}
#execute>.fas.fa-play,#stop>.fas.fa-stop{
	font-size: 1.2em;
	padding-right: 0.3em;
	vertical-align: middle;
}
#execute:hover{
	color:white;
	background-color: #1abc9c;
	border: #f2f0f5 1px solid ;
}
#execute:hover>.fas.fa-play{
	color: white;
}
#stop{
	left:60%;
	display: none;
}
.user-options {
    position: absolute;
    right: 3%;
	display: flex;
	top:50%;
	font-size: 1em;
	transform: translateY(-50%);
}

.user-button {
	font-size: 0.9em;
    cursor: pointer;
    border-radius: 10px;
    color: #93deff;
    background: #606470;
    border: 1px solid #93deff;
}

.user-button:hover {
    border: 1px solid #323643;
    color: #000;
    background: #93deff;
}
.dropdown-menu{
	min-width: 5rem;
	max-width: 7rem;
}
