body{
	margin: 0;
}
.CodeMirror{
	top: 10%;
	height:90%;
	left:20%;
	width:50%;
	position: absolute;
}
.menu-bar{
	top:0;
	height: 10%;
	position: absolute;
	background-color: #e74c3c;
	width: 100%;
}
.algo-search{
	right:5%;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	height: 70%;
	background-color: #2f3640;
	border-radius: 40px;
}
.algo-search:hover> #search-text{
	width:16em;
}
.algo-search:hover> .fas.fa-search{
	background:white;
}
.fas.fa-search{
	float:right;
	color:#e74c3c;
	width: 2.5em;
	height: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #2f3640;
}
#search-text{
	border: none;
	background: none;
	outline: none;
	padding: 0;
	color: white;
	font-size:14px;
	float: left;
	transition: 0.4s;
	line-height: 40px;
	width: 0;
	text-align: center;
}
